
<div class="container">
    <div class="page-header">
        <h3>Eat Dat Burger</h3>
    </div>
    <div class="grid-divider">
        <div class="col-sm-4">
            <div class="col-padding" id="addBurger">
                <h3 class="center">Add a Burger</h3>
                <form class="create-update-form center" action="/" method="POST">
                    <div class="form-group">
                        <label for="userinput">Burger Name:</label>
                        <input type="text" id="userinput" name="burger_name">
                    </div>
                    <button class="center" type="submit">Add Burger</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-padding">
            <h3>Burgers to Eat</h3>
            <ul>
                {{#each burgers}} {{#unless this.devoured}}
                <li>
                    {{this.id}}: {{this.burger_name}}
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="true">
                        <button type="submit">Eat This!</button>
                    </form>
                </li>
                {{/unless}} {{/each}}
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-padding">
            <h3>Eaten Burgers</h3>
            {{#each burgers}} {{#if this.devoured}}
            <ul>
                {{this.id}}: {{this.burger_name}}
            </ul>
            {{/if}} {{/each}}
        </div>
    </div>
</div>